@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.formulaire-horizontale{
        background-image: url('Images/school.jpg');
        width: 100%;
        height: 400PX;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: 100% 400px;
      }
.navigation{
    height: 50px;
    margin: auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

a{
    text-decoration: none;
    font-family: 'Times New Roman', Times, sans serif ! important;
    padding: 30px;
    font-size: 20px;
}

.a2,.a5{
    color:green;
    font-weight: bold;
} 
.a3,.a1{
    color:black;
    font-weight: bold;
}
.a4{
    border: 1px;
    border-style: none;
    color: white;
    background-color: green;
    padding: 5px;
}
.a6{
    border: 1px;
    border-style: none;
    color: white;
    background-color: green;
    padding: 5px;
    border-radius: 20px;
}
input{
    height: 30px;
    width: 230px;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
}
select{
    height: 38px;
    width: 230px;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
}

.bouton1{
    height: 38px;
    width: 200px;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    color: white;
    background-color: green;
}
.form-horiz{
    border:1px;
    border-style:none;
    padding: 20px;
    background-color: #F3F3F3;
    opacity: 0.6;
    border-radius: 5px;
    
}
.icones{
    width:15px;
    height: 15px;
}
.box-one{
    box-sizing: content-box;
    width: 750px;
    border: none #5B6DCD 1px;
    padding: 3px;
    background-color: #F3F3F3;
    margin:5px 0px 5px 0px;
}
.img-rounded{
    border-radius: 50%;
    width:100px;
    height: 100px;
    border-style:hidden;
    float: left;
}
.grid-container{
    padding: 0px  300px  0px 300px;
    
}

.icones-2{
    width:20px;
    height: 20px;
}
.h2-right{
   
}
.text-box1{
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}
.voir-plus{
    height: 38px;
    width: 100px;
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    color: white;
    background-color: green;
    float: right;
    border-radius: 5px;
    box-shadow: none;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
}
.box-one:hover{
    cursor:pointer;
   /* transform:scale(1.08);*/
    color:white;
    background-color: black;
    border-image: round;

}
.left{
    
    float:left
    
}
.right{
    
    float: right;
    
    
}
.box-two{
    box-sizing: content-box;
    width:  430px;
    border: solid #d63292 2px;
    padding: 3px;
    background-color: #cfcdcd;
    margin:5px;
}
.jaune-text{
    
    font-style: italic;
}
.box-two:hover{
    cursor:pointer;
    transform:scale(1.08);
    color:rgb(248, 209, 35);
    background-color: darkslategrey;

}
.solutions{
    padding: 100px;
}